<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">{{ '::Menu:ProjectTasks' | abpLocalization }}</h5>
        </div>
        <div class="text-end col col-md-6"></div>
  
         <!-- Search bar, Multi-select dropdown bar & New project button -->
        <div class="d-flex justify-content-between align-items-center">
          <!-- Search bar (on the left) -->
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{ '::SearchTasks' | abpLocalization }}" 
              [(ngModel)]="searchTerm" (click)="searchProjectTasks()" />
            </div>
          </div>
  
            <!-- Multi-Select Dropdown for Project Filter -->
          <div class="col-md-4" style="margin-left: 20px;">
            <div class="form-group mb-10">
              <!--Using items input-->
              <ng-select 
                [items]="projectList"     
                bindLabel="name"               
                bindValue="id"                 
                [multiple]="true"              
                [(ngModel)]="selectedProjectIds"  
                placeholder="Select projects"
                class="custom-ng-select"
                >  
              </ng-select>
            </div>
          </div>
  
          <div class="col-md-2 text-lg-end pt-2">
            <button id="create" class="btn btn-primary" type="button" (click)="searchProjectTasks()">
              <i class="fa fa-search me-1"></i>
              <span>{{ "::Search" | abpLocalization }}</span>
            </button>
          </div>
        
          <!-- New Project button (on the right) -->
          <div class="col-md-2 text-lg-end pt-2">
            <button id="create" class="btn btn-primary" type="button" (click)="createProjectTask()">
              <i class="fa fa-plus me-1"></i>
              <span>{{ "::NewTask" | abpLocalization }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- ngx-datatable added here -->
    <div class="card-body">
      <ngx-datatable [rows]="projectTask.items" [count]="projectTask.totalCount" [list]="list" default>
        
        <!-- ngx-datatable action(Edit, Delete & Approve) button -->
        <ngx-datatable-column
            [name]="'::Actions' | abpLocalization"
            [maxWidth]="150"
            [sortable]="false"
        >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
  
              <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
  
            <!-- Edit, Delete & Approve button -->
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="editProjectTask(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
  
              <button ngbDropdownItem [disabled]="row.isApproved" (click)="deleteProjectTask(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
  
              <button ngbDropdownItem (click)="approveProjectTask(row.id)" *ngIf="!row.id.isApproved">
                {{ '::Approve' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
        </ngx-datatable-column>
  
        <!-- ngx-datatable rows -->
        <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name">
          <ng-template ngx-datatable-header-template>
            <span (click)="sortTasks('name')">Name</span>
            <i class="fa" [ngClass]="{
              'fa-sort-up': list.sortKey === 'name' && list.sortOrder === 'asc',
              'fa-sort-down': list.sortKey === 'name' && list.sortOrder === 'desc'
            }"></i>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column [name]="'::Code' | abpLocalization" prop="code">
          <ng-template ngx-datatable-header-template>
            <span (click)="sortTasks('code')">Code</span>
            <i class="fa" [ngClass]="{
              'fa-sort-up': list.sortKey === 'code' && list.sortOrder === 'asc',
              'fa-sort-down': list.sortKey === 'code' && list.sortOrder === 'desc'
            }"></i>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column [name]="'::ProjectName' | abpLocalization" prop="projectName">
        </ngx-datatable-column> 
  
        <ngx-datatable-column [name]="'::Status' | abpLocalization" prop="status">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ '::Enum:ProjectTaskStatus.' + row.status | abpLocalization }}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column [name]="'::ApprovalStatus' | abpLocalization">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="!row.isApproved" class="badge bg-danger text-white">Not Approved</span>
            <span *ngIf="row.isApproved" class="badge bg-success text-white">Approved</span>
          </ng-template>
        </ngx-datatable-column>
  
      </ngx-datatable>
    </div>
</div>
  
<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (selectedProjectTask.id ? '::Edit' : '::NewTask') | abpLocalization }}</h3>
    </ng-template>
    
    <!-- Form start -->
    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
    
            <div class="form-row">
            <div class="form-group full-width">
                <label for="task-name">Name</label><span> * </span>
                <input type="text" id="task-name" name="task-name" class="form-control" formControlName="name" autofocus />
            </div>
    
            <div class="form-group full-width">
                <label for="task-code">Code</label><span> * </span>
                <input type="text" id="task-code" name="task-code" class="form-control" formControlName="code" autofocus />
            </div>
    
            <div class="form-group">
                <label for="project-id">Project Name</label><span> * </span>
                <select class="form-control" id="project-id" name="project-id" formControlName="projectId">
                <option [ngValue]="null">Select project</option>
                <option [ngValue]="project.id" *ngFor="let project of projectList">
                    {{ project.name }}
                </option>
                </select>
            </div>
    
            <div class="form-group full-width">
                <label for="project-task-status">Status</label><span> * </span>
                <select class="form-control" id="project-task-status" name="project-task-status" formControlName="status">
                <option [ngValue]="null">Select a project task status</option>
                <option [ngValue]="status.value" *ngFor="let status of projectTaskStatuses">
                    {{ '::Enum:ProjectTaskStatus.' + status.value | abpLocalization }}
                </option>
                </select>
            </div>
            </div>
    
        </form>
    </ng-template>
    
    <ng-template #abpFooter>
        <!-- close button -->
        <button type="button" class="btn btn-secondary" abpClose>
            {{ '::Close' | abpLocalization }}
        </button>

        <!-- save button -->
        <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
            <i class="fa fa-check mr-1"></i> {{ '::Save' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>
  